* {
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body.lightTheme {
  background-color: #fff;
  color: #333;
}

body.darkTheme {
  background-color: #1b1c1c;
  color: #fff;
}